body {
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFA;
    margin: 0;
}

.navbar-admin {
    background-color: #F3CA4D;
    height: 79px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed; /* Make navbar fixed */
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure navbar is above other elements */
}

.navbar-admin .logo-container {
    flex-shrink: 0;
    margin-top: 10px;
    margin-left: 5px;
}

.navbar-admin img {
    width: 223px;
    height: 47px;
}

.main-content {
    margin-left: 300px; /* Adjust to match sidebar width */
    padding: 20px;
    margin-top: 79px; /* Add margin to avoid overlap with navbar */
}

/* Styles for bjcon1 and related elements */

.bjcon1 {
    width: 930px;
    height: auto;
    background: #F3CA4D;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
}

.jenisdijual {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.concontainer {
    margin: 20px;
    display: flex;
    flex-direction: column; /* Ubah menjadi column untuk menumpuk item secara vertikal */
    align-items: center; /* Pusatkan item secara horizontal */
}

.rectangle1 {
    width: 260px;
    height: 226px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #03669B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.rectanglea {
    width: 260px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Required for positioning buttons */
}

.tulisanjenis {
    width: 176px;
    height: 32px;
    flex-shrink: 0;
    color: #03669B;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Styles for buttons */
.btn-circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #0077B6;
    color: #FFF;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.btn-circle i {
    font-size: 16px;
}

.btn-circle form {
    display: inline-block;
}

.btn-circle button {
    background: none;
    border: none;
    color: #FFF;
    cursor: pointer;
    padding: 0;
}

/* Additional styles for image */
.foto-sampah {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}
