/* admin.css */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFA;
    margin: 0;
}

.main-content {
    margin-left: 300px; /* Adjust to match sidebar width */
    padding: 20px;
    margin-top: 60px; /* Add margin to avoid overlap with navbar */
}

.container p {
    color: #03669B;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2; /* Sesuaikan spasi antar baris */
    margin-bottom: 16px;
}


.contdash1 {
    width: 916px;
    height: 280px;
    flex-shrink: 0;
    border-radius: 37px;
    background: #F3CA4D;
    margin: 10px auto;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.contkampusfaku {
    width: 296px;
    height: 270px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.contkampus {
    width: 294px;
    height: 130px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #0077B6;
    display: flex;
    align-items: center;
    flex-direction: row;
}


.contfaku {
    width: 294px;
    height: 130px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #0077B6;
    display: flex;
    align-items: center;
    }    

.tulisandash {
    width: 141.749px;
    height: 90.466px;
    flex-shrink: 0;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
}

.jumlahkampus {
    color: #FFF;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.namakampus {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 0.1;
    }


.jumlahfakultas {
    color: #FFF;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.namafakultas {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 0.1;
    }

    .contuser {
    width: 400px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #0077B6;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.userpertama {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center; /* Centers content inside .userpertama horizontally */
    margin-bottom: 15px;
}



.tulisandash2 {
    width: 141.749px;
    height: 90.466px;
    flex-shrink: 0;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
}

.jumlahpengguna {
    color: #FFF;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.namapengguna {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 0.1;
    text-align: center;

}



.contwp {
    width: 150px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #0077B6;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.kampusicon {
    width: 82.644px;
    height: 82.644px;
    flex-shrink: 0;
    padding-left: 20px;
}

.kampusicon2 {
    width: 82.644px;
    height: 82.644px;
    flex-shrink: 0;
}

.wpicon {
    width: 82.644px;
    height: 82.644px;
    flex-shrink: 0;
    margin-bottom: 10px;
}



.boxgender {
    width: 389px;
    height: 122px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    display: flex; /* Added to use flexbox */
    justify-content: space-evenly; /* Centers .lakilaki horizontally */
    align-items: center; /* Centers .lakilaki vertically */
}

.lakilaki {
    width: 170px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #0077B6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perempuan {
    width: 170px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #ED0D28;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.jumlahlaki {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 31px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.tulisanlaki {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.contdash2 {
    width: 916px;
    height: 280px;
    flex-shrink: 0;
    margin: 10px auto;
    justify-content: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.contjenis {
    width: 224px;
    height: 315px;
    flex-shrink: 0;
    border-radius: 37px;
    background: #0077B6;
    margin-left: -20px; /* Menjaga elemen tetap dekat dengan kontainer */
    display: flex; /* Menggunakan Flexbox */
    justify-content: center; /* Rata tengah horizontal */
    align-items: center; /* Rata tengah vertikal */
    margin-right: 30px;
}

.jenisjenis {
    width: 180px;
    height: 275px;
    flex-shrink: 0;
    border-radius: 27px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center; /* Optional: to center the content horizontally */
}


.contkilo {
    width: 524px;
    height: 315px;
    flex-shrink: 0;
    border-radius: 37px;
    background: #0077B6;
    margin-left: -20px; /* Menjaga elemen tetap dekat dengan kontainer */
    display: flex; /* Menggunakan Flexbox */
    justify-content: space-evenly; /* Rata tengah horizontal */
    align-items: center; /* Rata tengah vertikal */
    margin-right: 30px;
    flex-direction: column;
}


.contevent {
    width: 184px;
    height: 315px;
    flex-shrink: 0;
    border-radius: 37px;
    background: #0077B6;
    margin-left: -20px; /* Menjaga elemen tetap dekat dengan kontainer */
    display: flex; /* Menggunakan Flexbox */
    flex-direction: column;
    justify-content: center; /* Rata tengah horizontal */
    align-items: center; /* Rata tengah vertikal */
    margin-right:30px;
}


.dikumpulkan {
    width: 480px;
    height: 125px;
    flex-shrink: 0;
    border-radius: 27px;
    background: #F3CA4D;
}



.tulsamp {
    width: 167.382px;
    height: 69px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    align-items: center;
}

.jumlahsampah {
    color: #0077B6;
    text-align: center;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.tulisansampah {
    color: #0077B6;
    text-align: left;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    margin-left: 10px;
}

.jeniskecil {
    width: 100%;
    height: 37px;
    flex-shrink: 0;
    background: #FFA755;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.jeniskecilkar {
    width: 100%;
    height: 37px;
    flex-shrink: 0;
    background: #68E365;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.jeniskecilplas {
    width: 100%;
    height: 37px;
    flex-shrink: 0;
    background: #F58AFF;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.jeniskecilsisma {
    width: 100%;
    height: 37px;
    flex-shrink: 0;
    background: #CCDAFF;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.namasampah{
    color: #0077B6;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 10px;
    margin-left: 20px;
}

.kilosampah{
    color: #0077B6;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.timbulansampah {
    width: 358px;
    height: 118px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F3CA4D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.foto1 {
    width: 95px;
    height: 95px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto1 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.tulisanatasbawah {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 20px; /* Adjust as needed */
}

.tulisankilotim {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.angka {
    color: #0077B6;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.kg {
    color: #0077B6;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.tulisansampahdik {
    color: #0077B6;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 5px; 
}
