body {
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFA;
    margin: 0;
}

.main-content {
    margin-left: 300px; 
    padding: 20px;
    margin-top: 80px; 
}

.table-container {
    width: 950px;
    height: fit-content;
    flex-shrink: 0;
    border-radius: 37px;
    background: #0077B6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}


h2 {
    color: white;
}

.table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    background-color: #03669B;
    color: #FFF;
    border-radius: 10px;
    overflow: hidden;
}

.table thead {
    background-color: #F3CA4D;
}

.table th, .table td {
    padding: 12px 15px;
}

.table th {
    background-color: #F3CA4D;
    color: #03669B;
    text-transform: uppercase;
}

.table tbody tr {
    border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #0077B6;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #F3CA4D;
}

.table tbody tr:hover {
    background-color: #005f8e;
    color: #fff;
}

.table img {
    border-radius: 10px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    background-color: #F3CA4D;
    color: #03669B;
    border: none;
}

.btn-danger {
    background-color: #e74c3c;
    color: #FFF;
    border: none;
}

.btn i {
    margin-right: 5px;
}

.form-group {
    margin-bottom: 20px;
    color: #FFF;
}

.form-group label {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.form-group input, .form-group textarea, .form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #000;
}

.form-group img {
    border-radius: 10px;
}

.btn-primary {
    background-color: #F3CA4D;
    color: #03669B;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #d4b145;
}
